<form class="frontend-form">
  <div style="position: relative; margin:auto; height:100px">
    <mat-toolbar>
      <span class="frontend-toolbar">Welcome to Video Application</span>
    </mat-toolbar>
  </div>
  <div style="position: relative; margin:auto; height:70px">
    <mat-form-field class="frontend-full-width">
      <input matInput [(ngModel)]="videoURL" name="videoURL" placeholder="Enter Video URL" value="">
    </mat-form-field>

    <button mat-button class="f-button" (click)="getIframeVideoUrl()">Click me!</button>
  </div>
  <div [hidden]='!iframeURL' style="position: relative; margin:auto; padding-top: 20%">
    <div class="f-frame">
      <iframe id="video" class="f-iframe" [src]="iframeURL" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div [hidden]="!urlData" class="f-list">
    <mat-list class="f-list-item" role="list">
      <mat-list-item role="listitem" *ngFor="let url of urlData">
        <mat-icon>link</mat-icon>{{url}}
      </mat-list-item>
    </mat-list>
  </div>
</form>